six
requests
lxml
pytz
tzlocal
pymemoize
orderedattrdict
pyyaml
py-dateutil
streamlink>=0.11.0
bitmath
git+https://github.com/tonycpsu/urwid
git+https://github.com/tonycpsu/urwid_utils@v0.1.3.dev0
git+https://github.com/tonycpsu/panwid@v0.3.0.dev3
pony
stevedore
atoma
youtube_dl
git+https://github.com/ping/instagram_private_api
git+https://github.com/tonycpsu/PyPeri
python-twitch-client
git+https://github.com/tonycpsu/tonyc_utils
mistune
html2text
