six
requests
lxml
pytz
tzlocal
pymemoize
orderedattrdict
pyyaml
py-dateutil
streamlink>=0.11.0
prompt_toolkit
urwid
urwid_utils>=0.1.2
panwid>=0.2.5
pony
stevedore
atoma
youtube_dl
instagram_private_api
git+https://github.com/ping/instagram_private_api
git+https://github.com/tonycpsu/PyPeri
python-twitch-client
